<app-navbar></app-navbar>

<div class="page-container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="content">
    <div class="form-box">
      <h2>Changez votre mot de passe :</h2>
      <br /><br />
      <div class="form-content">
        <form [formGroup]="changePassForm" (submit)="submit()">
          <label>Ancien mot de passe :</label>
          <input type="password" id="oldpass" formControlName="oldpassword" />
          <br />
          <label>Nouveau mot de passe :</label>
          <input type="password" id="newpass" formControlName="newpassword" />
          <br />
          <label>Confirmez le nouveau mot de passe :</label>
          <input
            type="password"
            id="confirmnewpass"
            formControlName="confirmnewpass"
          />
          <br />

          <button type="submit">Sauvegarder</button>
        </form>
      </div>
    </div>
  </div>
</div>
