<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>
<body>
    <form method="POST" action="/after_rp"> 
    
    <label for="email">Email</label>
    <input type="email" name="email" required>    
    
    <label for="password">New Password:</label>
    <input type="password" name="newpassword" required>

    <label for="password">Confirm Password:</label>
    <input type="password" name="confirmpassword" required>


    
   
    
    <input type="submit" value="Reset Password">

    </form>
</body>
</html>