@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

.page-container {
  display: flex;
}

.sidebar {
  width: 100px;
}

.content {
  flex-grow: 1;
  padding: 100px;
}

.form-box {
  background: #00cccc;
  background: -webkit-linear-gradient(to right, #97eaea, #d5f6f6);
  background: linear-gradient(to right, #a8f7f7, #daf7f7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  padding: 100px;
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.image-upload {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload input[type="file"] {
  display: none;
}

.circle,
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #e2f4fc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
}

.circle i {
  font-size: 24px;
  color: #00cccc;
}

.form-content input,
.form-content select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.form-content select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-content select option {
  padding: 5px;
}

button {
  border-radius: 20px;
  border: 1px solid #f8f8ff;
  background-color: #00cccc;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

label {
  text-transform: uppercase;
  color: #00a3a3;
}

h2 {
  text-align: center;
  color: #00a3a3;
}

.image-container {
  position: relative;
}

.cam {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.fas {
  font-size: 120px;
}

.image-container:hover .cam {
  opacity: 1;
}

.image-container i {
  color: #d5f6f6;
  cursor: pointer;
}

.image-container input[type="file"] {
  display: none;
}

.image-container {
  position: relative;
}

.image-container:hover img {
  opacity: 0.7;
  cursor: pointer;
}

.image-container:hover .cam {
  display: block;
  cursor: pointer;
}
