<section>
  <div class="parallax-first">
    <app-navbar></app-navbar>

    <div class="containerr">
      <div class="background-image">
        <h1 class="welcome-text">
          "Libérez votre passion du sport et réservez votre terrain dès
          maintenant !"
        </h1>
        <br />
        <br />
        <div class="button-container">
          <a class="inscription-link btn-large" href="terrains"
            >RÉSERVER UN TERRAIN</a
          >
        </div>
      </div>
    </div>

    <div class="containerrr">
      <div class="box" (click)="scrollToSection('target-section-1')">
        <div class="icon">
          <span class="icon"><i class="bx bx-football"></i></span>
        </div>
        <div class="text">
          <h3>Tout sur le sport</h3>
        </div>
      </div>
      <div class="box" (click)="scrollToSection('target-section-2')">
        <div class="icon">
          <span class="icon"><i class="bx bx-church"></i></span>
        </div>
        <div class="text">
          <h3>MARSEILLE</h3>
        </div>
      </div>
      <div class="box" (click)="scrollToSection('target-section-3')">
        <div class="icon">
          <span class="icon"><i class="bx bx-question-mark"></i></span>
        </div>
        <div class="text">
          <h3>À propos de nous</h3>
        </div>
      </div>
    </div>
  </div>

  <div id="target-section-1" class="parallax-page">
    <div class="content-wrapper">
      <div class="image-container">
        <img src="../../assets/GQ_50Greatest_final_v2.webp" alt="Photo" />
      </div>
      <div class="text-container custom-font">
        <h3><i class="bx bx-trophy"></i> &nbsp;Tout sur le sport</h3>
        <p class="larger-text">
          Le sport occupe une place centrale dans notre site web en raison de
          son importance multidimensionnelle. Tout d'abord, il contribue à notre
          santé et notre bien-être en favorisant l'activité physique régulière,
          renforçant notre système cardiovasculaire et prévenant certaines
          maladies.
        </p>

        <p class="larger-text">
          De plus, le sport favorise la socialisation et l'esprit d'équipe en
          permettant les rencontres, les échanges et le développement de
          compétences sociales. En outre, il joue un rôle crucial dans la
          gestion du stress, en libérant des endorphines et en favorisant le
          bien-être mental. Enfin, le sport stimule la confiance en soi, le
          dépassement de soi, et offre des moments de divertissement, de passion
          et de plaisir pour tous les amateurs.
        </p>
      </div>
    </div>
  </div>
  <div id="target-section-2" class="parallax-page">
    <div class="content-wrapper1">
      <div class="image-container1">
        <img src="../../assets/mrs.jpg" alt="Photo" />
      </div>
      <div class="text-container custom-font">
        <h3><i class="bx bx-church"></i>&nbsp; Marseille</h3>
        <p class="larger-text">
          Bienvenue sur notre site dédié à Marseille, la magnifique ville
          ensoleillée de la côte méditerranéenne. Nous sommes ravis de vous
          présenter notre service de réservation unique qui vous permettra de
          profiter pleinement de tout ce que Marseille a à offrir.
        </p>

        <p class="larger-text">
          Notre objectif est de vous aider à créer des souvenirs mémorables et à
          vivre des expériences uniques à Marseille.
        </p>
        <p class="larger-text">
          Réservez dès maintenant et plongez dans l'essence vibrante de
          Marseille !
        </p>
      </div>
    </div>
  </div>
  <div id="target-section-3" class="parallax-page">
    <div class="about-section">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <h2><b>A PROPOS DE NOUS</b></h2>
      <div class="about-rectangles">
        <div class="about-column">
          <div class="about-rectangle">
            <div class="rectangle-image">
              <img src="../../assets/APN/1.jpg" alt="Image 1" />
            </div>
            <div class="rectangle-name">Youssef</div>
          </div>
          <div class="about-rectangle">
            <div class="rectangle-image">
              <img src="../../assets/APN/2.png" alt="Image 2" />
            </div>
            <div class="rectangle-name">Nabil</div>
          </div>
        </div>

        <div class="about-text">
          <br />
          <br />
          <br />
          <p>
            <b>Notre mission :</b> vous simplifier la réservation de terrains de
            sport en offrant une plateforme conviviale pour trouver, réserver et
            profiter des installations sportives.
          </p>
          <br />
          <br />
          <p class="larger-text">
            Rejoignez-nous dès aujourd'hui pour faciliter votre pratique
            sportive et découvrez la facilité de réserver le terrain idéal pour
            vivre des expériences mémorables sur les terrains.
          </p>
        </div>
        <div class="about-column">
          <div class="about-rectangle">
            <div class="rectangle-image">
              <img src="../../assets/APN/3.jpg" alt="Image 3" />
            </div>
            <div class="rectangle-name">Abdelhak</div>
          </div>
          <div class="about-rectangle">
            <div class="rectangle-image">
              <img src="../../assets/APN/4.png" alt="Image 4" />
            </div>
            <div class="rectangle-name">Amelia</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<app-footer></app-footer>
