<!-- <footer>
    <div>
        <p >NEWSLETTER</p>
        <p>Recevez en avant-première toute l'actualité et les nouveautés 13-BY-AMU </p>
        <a href="signup">JE M'INSCRIS</a>
        <img src="../../assets/logo-no-background.png" alt="LOGO" >
        <p>REJOINDRE LA COMMUNAUTE</p>
        <p>#13BYAMU</p>
        <div>
            <a href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook-circle'></i> </a>
            <a href="https://www.twitter.com" target="_blank"><i class='bx bxl-twitter' ></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram-alt' ></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class='bx bxl-linkedin' ></i></a>
        </div>
        <p>&copy; 2023 13BYAMU</p>
        <nav>
            <a href="https://sport-suaps.univ-amu.fr/sport/list">CLUB AMU</a> | <a href="contact">CONTACT</a> | <a>FAQ</a> <a >Politique de confidentialité</a> ||
        </nav>
        
    </div>
</footer> -->

<footer>
  <div class="footer-content">
    <div class="left-content">
      <p>NEWSLETTER</p>
      <p>
        Recevez en avant-première toute l'actualité et les nouveautés 13-BY-AMU
      </p>
      <a href="signup">JE M'INSCRIS</a>
    </div>
    <div class="logo">
      <img src="../../assets/logo-no-background.png" alt="LOGO" />
      <p>&copy; 2023 13BYAMU</p>
    </div>
    <div class="right-content">
      <p>REJOINDRE LA COMMUNAUTE</p>
      <p>#13BYAMU</p>
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank"
          ><i class="bx bxl-facebook-circle"></i
        ></a>
        <a href="https://www.twitter.com" target="_blank"
          ><i class="bx bxl-twitter"></i
        ></a>
        <a href="https://www.instagram.com" target="_blank"
          ><i class="bx bxl-instagram-alt"></i
        ></a>
        <a href="https://www.linkedin.com" target="_blank"
          ><i class="bx bxl-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
  <nav>
    <a href="https://sport-suaps.univ-amu.fr/sport/list">CLUB AMU</a> |
    <a href="contact"> &nbsp; CONTACT</a> |
    <a routerLink="/privacy"> &nbsp; FAQ</a> |
    <a routerLink="/privacy"> &nbsp; Politique de confidentialité</a>
  </nav>
</footer>
