<app-navbar></app-navbar>

<div class="box">
  <form
    class="email-form"
    method="POST"
    [formGroup]="resetPassForm"
    (submit)="submit()"
  >
    <div class="reset-password-heading-bar">
      <h2 class="reset-password-heading">Trouvez votre compte</h2>
    </div>
    <br />
    <div class="reset-password-content">
      <p class="reset-password-text">
        Veuillez entrer votre e-mail pour rechercher votre compte
      </p>
      <input
        type="text"
        class="reset-password-input"
        id="email"
        name="email"
        placeholder="Adresse e-mail"
        formControlName="email"
        autofocus
      />
    </div>
    <div class="reset-password-actions">
      <a class="reset-password-cancel" routerLink="/log"><b> Annuler</b></a>
      <button type="submit" class="reset-password-submit">Envoyer</button>
    </div>
  </form>
</div>
